################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/README.md
/.github
/build/Ark SA GUI
/dist
/Ark SA GUI.spec
/config.json
